@use 'src/style';

.item {
  box-shadow: 2px 1px 5px grey;
  background: style.$main_color;
  color: style.$text_color;
  padding: 8px 25px 6px 25px;
  border: none;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 1.5;
  transition: all linear 0.3s;
  position: relative;

  &:disabled {
    background-color: gray;

    &:hover {
      color: #c5c8ce;
    }
  }

  &:hover {
    color: #b6b8c5;
    cursor: pointer;
  }
}

